slideshow-component .slideshow__controls {
    position: unset !important;
}

#Slider-template--25124286955704__slideshow_diQwJP {
    aspect-ratio: 2000 / 800 !important;
}

slideshow-component .slideshow__controls .slideshow__autoplay {
    display: none;
}

slideshow-component .slideshow__controls .slider-button--prev {
    position: absolute;
    top: 50%;
    left: 40px;
    scale: .6;
    transform: translateY(-50%);
}

slideshow-component .slideshow__controls .slider-button--next {
    position: absolute;
    top: 50%;
    right: 40px;
    scale: .6;
    transform: translateY(-50%);
    transform: rotate(180deg);
}

slideshow-component .slideshow__controls .slider-counter {
    display: none;
}

slideshow-component .slideshow__controls {
    border: none !important;
}

slideshow-component .slideshow {
    min-height: auto !important;
    height: auto !important;
    aspect-ratio: 1440/640;
}

.slider-button .icon {
    height: 2rem !important;
}

.slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: #fff !important;
    width: 28px;
    border-radius: 100px
}

.slider-counter__link--dots .dot {
    border: 0.1rem solid #fff !important;
}

.header__icon--search {
    width: fit-content;
}

.header__search .link {
    text-decoration: none !important;
    width: fit-content;
}

.header__icon--search .svg-wrapper {
    width: fit-content !important;
}

.header__icons {
    width: fit-content;
}

.header__icons a,
header .header__search {
    width: 2.1rem
}

.header__search {
    display: none;
}

.header__search details {
    justify-content: start;
    align-items: start;
    display: flex;
}

.header__icon {
    color: #610C27 !important;
}

.header__icon .svg-wrapper {
    width: 100% !important;
}

.section-heading,
.collapsible-content__heading,
.jdgm-rev-widg__title {
    /* text-align: left !important; */
    margin-bottom: 40px !important;
    margin-top: 0 !important;
    font-size: 2rem !important;
    font-weight: 500 !important;
}

.section-heading {
    text-align: center !important;
}

.related-products__heading {
    text-align: center !important;
    margin-bottom: 40px !important;
    margin-top: 0 !important;
    font-size: 2.2rem !important;
    font-weight: 500 !important;
}

#shopify-section-template--24203645747384__home_tryathome_aqqR4j {
    padding-top: 60px;
}

#shopify-section-template--24203645747384__collapsible_content_8wA47G,
#shopify-section-template--24203645747384__home_about_7agqRh,
#shopify-section-template--24203645747384__home_benefits_e9Pe77 {
    padding-top: 35px;
}

.occasion-images-container-parent {
    margin-top: 50px;
}

.slideshow__controls {
    border: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px !important;
}

.header-nav-and-logo {
    display: flex;
    gap: 10px;
}

.c-menu2 {
    display: flex;
}

.c-menu2 a,
.c-menu3 a {
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
}

.c-menu2 a:nth-of-type(1),
.c-menu3 a:nth-of-type(1) {
    padding-left: 0;
}

.c-menu2 .additional_ahref:last-of-type,
.c-menu3 .additional_ahref:last-of-type {
    padding-right: 0;

}

.c-menu3 .dropdown-menu a {
    padding: 8px 25px;
}

.c-menu2 .header__search span {
    font-size: 1.5rem;
}

.c-menu3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-try-at-home-section-left p {
    font-size: 1.4rem;
    margin: 0;
    color: #fff;
    line-height: 1.5rem;
    width: 90%;
    font-weight: 400;
}

/* Dropdown styling */
.c-menu3 .dropdown {
    position: relative;
}

.c-menu3 .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    padding: 10px 0;
}

.c-menu3 .dropdown:hover .dropdown-menu,
.c-menu3 .dropdown.active .dropdown-menu {
    display: block;
}

/* Caret icon styling */
.c-menu3 .caret-icon {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

/* Rotate caret when active or hovered */
.c-menu3 .dropdown:hover .caret-icon,
.c-menu3 .dropdown.active .caret-icon {
    transform: rotate(180deg);
}

/* Dropdown item styling */
.c-menu3 .dropdown-item {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0;
}

.c-menu3 .dropdown-item:hover {
    background-color: #f4f4f4;
}

.c-menu3 img {
    width: 27px;
}

.c-menu3 .dropdown a {
    display: flex;
    gap: 3px;
}

.header-drawer-and-logo {
    display: flex;
    gap: 10px;
}

footer {
    margin-top: 60px !important;
}

footer li a {
    text-decoration: none !important;
    color: #610C27 !important;
}

.desktop-image {
    display: block !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.mobile-image {
    display: none !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.desktop-image img,
.mobile-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


slideshow-component .slideshow {
    width: 100%;
}

header .header__search {
    display: none;
}

.footer__content-bottom {
    display: none !important;
}

.noUi-handle {
    border: none !important;
    border-radius: 50% !important;
    background: #610c27 !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

.noUi-horizontal .noUi-handle {
    height: 15px !important;
    width: 15px !important;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none !important;
}

.noUi-horizontal {
    height: 4px !important;
}

.noUi-target {
    background: #F4EEEB !important;
    border: none !important;
    box-shadow: none !important;
}

.price-slider-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noUi-connect {
    background: #610c27 !important;
    display: flex !important;
    margin-right: -10px;
}

.price-slider-values span {
    color: #610C27;
    padding-top: 10px;
}

.facets-vertical-form {
    justify-content: space-between !important;
    align-items: center !important;
    /* margin-bottom: 80px; */
}

.facets-vertical .active-facets {
    position: absolute;
    left: 321px;
    top: 323px;
    display: flex !important;
    width: max-content;
    flex-wrap: wrap;
    align-items: baseline !important;
    z-index: 1;
}

@media(min-width:756px) {
    .facets-vertical .active-facets {
        top: -4rem
    }
}

#FacetsWrapperDesktop {
    position: relative;
}

.active-facets__button--light .active-facets__button-inner,
.facet-filters__field .select {
    box-shadow: none;
    border-radius: 0;
    background: #F4EEEB;
    padding: 10px 20px;
    color: #610C27;
}

.facet-filters__field img {
    width: 20px;
    margin-right: 8px;
}

.facet-filters__field select {
    color: #610C27;
}

.facet-filters .select .svg-wrapper {
    right: 20px !important;
}

.product-grid-container {
    background-color: #fff;
}

.facets-vertical .product-grid-container .grid:last-child {
    margin-top: 70px;
}

.active-facets__button--light .active-facets__button-inner {
    box-shadow: none !important;
    transition: all ease-in .2s;
}

.active-facets__button--light .active-facets__button-inner:hover {
    background-color: #610C27 !important;
    color: #F4EEEB !important;
}

.slideshow__slide a {
    display: flex;
    height: 100%;
    width: 100%;
}

#FacetsWrapperDesktop details:first-of-type {
    border-top: none !important;
}

.collapsible-content__grid .accordion h3 {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 1.4rem;
}

.collapsible-content__grid .accordion p {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.7rem;
    font-size: 1.4rem;
}

.collection-hero__text-wrapper {
    display: none;
}

.collection-hero__image-container {
    margin: 0 !important;
    display: none !important;
    border-radius: 15px !important;
}

.collection-hero--with-image {
    padding: 0 !important;
}

.home-try-at-home-section-container {
    margin: 50px auto;
    overflow: hidden;
}

.home-try-at-home-section-container .section-heading {
    margin: 0 !important;
    color: #fff;
    font-size: 2rem;
}

.pdp-try-at-home-section-container {
    padding: 0 0 !important;
    margin: 50px 0;
}

.pdp-try-at-home-section-container .section-heading {
    margin: 0 !important;
}

.home-try-at-home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 110px 80px;
}

.home-try-at-home-section-right::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
    pointer-events: none;
}

.home-try-at-home-section-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 30px;
}

.home-try-at-home-section-left div {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.home-try-at-home-section-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

.home-try-at-home-section-right img {
    width: 100%;
    border-radius: 30px 0 30px;
}

.home-try-at-home-section-right-desktop_image {
    display: flex;
}

.home-try-at-home-section-right-mobile_image {
    display: none;
}

.home-try-at-home-section-left a {
    border: solid 2px #fff;
    background: transparent;
    text-decoration: none;
    color: #fff;
    padding: 12px 60px;
    font-size: 1.4rem;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.home-try-at-home-section-left a:hover {
    background: #fff;
    color: #000;
}

product-info media-gallery {
    position: relative;
}

product-info .product__title h1 {
    font-family: var(--font-heading-family);
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: 0;
    width: 90%;
}

.main-product_text-style_caption {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0;
    margin: 0 0 1.2rem 0 !important;
    color: #000;
}

product-info .price__container span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: .8;
}

.pdp-brand-usps-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background: #f9f7f9;
    padding: 15px 30px;
    gap: 13px;
}

.pdp-brand-usp-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 25%;
}

.pdp-brand-usp-block img {
    height: auto;
    width: 50%;
}

.pdp-brand-usps-container hr {
    display: flex;
    border: none;
    height: 70px;
    width: 1px;
    background: #00000050;
    margin: auto 0;
    padding: 0;
}

.pdp-brand-usp-text {
    text-align: center;
    color: #000;
    letter-spacing: 0;
    line-height: 1.2;
    font-size: 1.2rem;
    font-family: var(--font-heading-family);
    margin: 0;
}

.prices-container-subheading {
    font-weight: 400;
    letter-spacing: normal;
    font-size: 1.4rem;
}

.product__info-image {
    width: 100%;
    height: auto;
    order: 16;
    margin-bottom: 10px;
}

.product-card-specs {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: .7rem;
}

.product-page-details-container .product-page-details-parent-child .product-description-paragraph p {
    font-size: 1.2rem !important;
    line-height: 2.4rem;
}

.dropdown-swatch {
    color: transparent;
    font-size: 0;
}

/* .price__container {
    font-family: var(--font-heading-family);
} */

.collection-hero__title {
    text-wrap: nowrap;
    font-size: 1.4rem;
}

.product-info-price-subtitle {
    margin: -7px 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0;
    font-weight: 400;
}

.product-features-badges-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-features-badges-container::-webkit-scrollbar {
    display: none;
}

.product-features-badge-text {
    text-wrap: nowrap;
    background: #F4EEEB;
    padding: 8px 11px;
    font-family: var(--font-heading-family);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
}

product-info variant-selects {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 12px;
    margin: 1rem 0;
}

.pincode_check_popup_content {
    text-align: left;
    font-size: 1.4rem;
    color: #000;
    line-height: 1.9rem;
    font-weight: 400;
    margin: 13px 0 0;
}

product-info variant-selects .select:after,
product-info variant-selects .select:hover {
    border: none !important;
    box-shadow: none !important;
    background: transparent;
}

product-info variant-selects select {
    font-size: 1.3rem !important;
    letter-spacing: 0 !important;
    font-weight: 500 !important;
}

product-info variant-selects img {
    width: 100%;
}

.product-form__input--dropdown {
    margin: 0 !important;
    min-width: 100% !important;
}

.Variant-type-label {
    display: none;
}

.product__info-container .product__description {
    line-height: 2rem;
    letter-spacing: 0;
    font-size: 1.4rem;
    margin: 0 !important;
    font-weight: 500;
}

.product-form__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: unset !important;
}

.try-at-home-button,
.product-form__buttons button {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
}

.try-at-home-button {
    text-align: center;
    text-decoration: none;
    color: #712242;
    background: transparent;
    border: solid 1px #712242;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.variant-dropdown-option-name-span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0;
    color: #000;
    line-height: 2rem;
    text-wrap: nowrap;
    display: flex;
    height: fit-content;
    padding: 0;
}

.swatches-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swatch-label-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(0);
}

.swatch-label.selected .swatch {
    border: 1px solid #610C27;
    scale: 1.2;
}

.product-form__buttons button {
    display: flex;
    gap: 10px;
}

.product-form__buttons button img {
    height: 27px;
    width: 27px;
}

.sizing-guide {
    margin: 0 0 20px;
    line-height: 0;
}

.sizing-guide button {
    font-size: 1.3rem;
    cursor: pointer;
    line-height: 5px;
    border: none;
    color: #612342;
    background: transparent;
    text-decoration: underline;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: all ease-in .3s;
}

.sizing-guide button:hover {
    opacity: .8;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    position: relative;
}

.popup .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 64px;
    color: #fff;
    font-weight: 300;
    background: none;
    border: none;
    cursor: pointer;
}

.popup .close-btn:hover {
    color: #610C27;
}

body.no-scroll {
    overflow: hidden;
}

.jdgm-rev-widg {
    padding-top: 50px !important;
    padding-bottom: 0 !important
}

.jdgm-widget:not(.jdgm-review-widget--small, .jdgm-review-widget--medium) .jdgm-row-stars {
    padding-bottom: 0 !important
}

.pincode-availability-checker-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0;
    border: solid 1px #00000050;
    padding: 10px;
}

.pincode-availability-left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    /* border-bottom: solid 1px #71224230; */
    /* padding-bottom: 7px; */
    width: 60%;
}

.pincode-availability-left img {
    width: 16px;
    height: 16px;
}

.pincode-availability-left input {
    border: none;
    color: #712242;
    font-size: 1.4rem;
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    outline: none !important;
    box-shadow: none !important;
}

.pincode-availability-left input::placeholder {
    color: #000;
    font-size: 1.4rem;
}

.pincode-availability-checker-container button {
    border: none;
    background: transparent;
    color: #712242;
    /* text-decoration: underline; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1.3rem;
    cursor: pointer;
}

.pincode-checker-result {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    font-size: 1.7rem;
    margin: 5px 0;
}

.pincode-checker-result.available {
    color: #4b8b1c;
}

.expected-delivery-date {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0;
    font-size: 1.6rem;
    margin: 5px 0 15px;
    font-weight: 400;
}

.expected-delivery-date span {
    font-weight: 600;
}

.product-card-wrapper .card__content .full-unstyled-link {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
}

#tryAtHomeOverlay {
    display: none !important;
}

.facets .disclosure-has-popup[open]>summary+* {
    padding: 2rem 3.3rem 2rem 2rem;
}

.product--thumbnail_slider .slider-buttons {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 9;
}

.product--thumbnail_slider .slider-buttons .slider-button--prev,
.product--thumbnail_slider .slider-buttons .slider-button--next {
    display: none !important;
}

.product__info-container-price-container .price--on-sale .price__sale {
    flex-direction: row-reverse;
    display: flex;
    gap: 10px;
}

.product__info-container-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-breakdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 20px;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.price-breakdown-icon {
    width: 12px;
    height: auto;
    margin-left: 6px;
}

.price-breakdown-popup {
    /* background: #F4EEEB; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    /* border-radius: 8px; */
    z-index: 1000;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in .3s, margin ease-in .3s;
    margin: 0;
}

.price-breakdown-popup.active {
    max-height: 1000px;
    margin: 8px 0 15px;
}

.price_breakdown-left_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 51%;
    align-items: start;
}

.price-breakdown-list .price-breakdown-total span:nth-of-type(1) {
    width: 240px;
}

.images-parent-div a {
    min-width: 48%;
    margin-right: -50%;
    display: flex !important;
    z-index: 2;
}

.price-breakdown-list .price-breakdown-total span {
    font-size: 1.6rem;
}

.price_breakdown-left_container_top {
    display: flex;
    gap: 11px;
    align-items: center;
    flex-wrap: wrap;
}

.price_breakdown-left_container_bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    text-wrap: wrap;
}

.price_breakdown-left_container_bottom p {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    opacity: .7;
    line-height: 2.4rem;
}

.price-breakdown-list {
    list-style: none;
    padding: 0;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.price-breakdown-list li {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    gap: 0;
    color: #171717;
    width: 100%;
}

.price-breakdown-list span {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0;
    color: #171717;
}

.price_breakdown_compare_at_price {
    opacity: .7;
    font-weight: 400 !important;
    text-decoration: line-through;
}

.price_breakdown-right_container {
    display: flex;
    gap: 10px;
    justify-content: end;
    width: 44%;
}

.price-breakdown-total {
    font-weight: bold;
    font-size: 16px;
    /* border-top: 1px solid #610C27;
    padding-top: 5px; */
}

.remove-item-button img {
    width: 19px !important;
    height: auto !important;
    border-radius: 0 !important;
}

.remove-item-button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.price-breakdown-close-btn {
    margin: 18px 0 0;
    cursor: pointer;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 1.4rem;
    background: #610c27;
    padding: .4rem 3rem;
    width: 100%;
    text-align: center;
}

.price-breakdown-list .price_discount {
    background: #f6f3f1;
    padding: .9rem 1.1rem;
    line-height: 1.4rem;
    font-size: 1.3rem;
}

.mobile_collection-sort {
    display: none !important;
}

header .menu-drawer {
    height: 100vh !important;
    top: 0 !important;
}

/* Dropdown menu styles */
.dropdown-menu {
    display: none;
    padding-left: 1.5rem;
    margin: 0;
    list-style: none;
}

.dropdown[open]>.dropdown-menu {
    display: block;
}

.dropdown summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg-wrapper.dropdown-icon {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

/* Rotate dropdown icon when open */
.dropdown[open] .svg-wrapper.dropdown-icon {
    transform: rotate(180deg) translateY(10px);
}

#HeaderDrawer-catalogue .icon-caret {
    display: flex !important;
    position: unset !important;
    height: unset !important;
}

.menu-drawer__navigation .menu-item .dropdown-menu .menu-item {
    opacity: 0.6;
}

.menu-drawer__navigation .menu-item .dropdown-menu .menu-item a {
    font-size: 1.4rem !important;
}

@media(min-width:756px) {
    .facets-vertical .facets-wrapper {
        position: sticky;
        top: 14rem;
        height: fit-content;
    }
}

@media(max-width:1000px) {

    .price-breakdown-list .price_discount {
        font-size: 1.2rem;
    }

    .facets-vertical .active-facets {
        top: 285px;
    }

    .facets-vertical-form {
        margin-bottom: 40px;
    }
}

.desktop-sorting-collection {
    display: flex;
}

.sewp-header {
    background: #F4EEEB !important;
}

.wh-pro-meta a,
.wihslist-meta h3 a,
.ws_gridmeta h4 a {
    font-family: "Montserrat", sans-serif;
}

.wishlist-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.wishlist-cart,
.wishlist-advanced-option .wsh_qty span {
    background: #610C27 !important;
    color: #fff !important;

}

.wishlist-column {
    width: 33% !important;
}

.sewp-header a {
    color: #121212 !important;
}

.sewp-close svg,
.sewp-close svg path {
    fill: #121212 !important;
    color: #121212 !important;
}

.filter-rts-button {
    text-decoration: none;
    display: flex;
    border-bottom: 0.1rem solid rgba(18, 18, 18, 0.1);
    align-items: center;
    line-height: 0;
    justify-content: space-between;
    padding-right: 0 !important;
}

.filter-rts-button input {
    pointer-events: none;
    /* Prevent user interaction */
    appearance: none;
    /* Remove default checkbox styling */
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    /* Default border color */
    border-radius: 4px;
    /* Add rounded corners */
    position: relative;
    background-color: #fff;
    /* Checkbox background */
    cursor: not-allowed;
}

.assistance_buttons_container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.assisstance_buttons_images_container a,
.assisstance_buttons_image_container {
    width: calc(50% - 5px);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #610c27;
    border: solid 1px #610c27;
    padding-top: 7px;
    padding-bottom: 7px;
}

.assistance_button_heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    width: 100%
}

.assisstance_buttons_images_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.assisstance_buttons_image_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.assisstance_buttons_image_container img {
    width: 100%;
    height: auto;
}

.assisstance_buttons_image_container p {
    margin: 0;
    font-weight: 400;
    color: #000;
    font-size: 1.3rem;
    text-align: center;
}

@media(max-width:756px) {
    .filter-rts-button input {
        margin: -3px 0 -3px 10px;
    }

    .home-try-at-home-section-right-desktop_image {
        display: none;
    }

    #Slider-template--25124286955704__slideshow_diQwJP {
        aspect-ratio: 400 / 500 !important;
    }

    .home-try-at-home-section-right-mobile_image {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 !important;
    }
}

.filter-rts-button input::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 10px;
    border: solid transparent;
    /* Default hidden state */
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.filter-rts-button input:checked::after {
    border-color: #610C27;
    /* Desired tick color */
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    /* Make tick visible */
}

.header-extra-menus {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}

sticky-header {
    border-bottom: 2px solid #CCCACC;
}

.product-info-image {
    padding: 15px 20px;
    background: #f9f7fa;
    margin-top: 15px;
}

.product-info-image__heading {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
}

.product-info-image__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.product-info-image__left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 52%;
}

.product-info-image__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    letter-spacing: 0;
    color: #712242;
    line-height: 1.6rem;
}

.product-info-image__item img {
    width: 16px;
    height: auto;
}

.product-info-image__right {
    display: flex;
    align-items: center;
    width: 45%;
    height: auto;
    justify-content: center;
}

.product-info-image__right img {
    width: 100%;
    height: auto;
}

@media(max-width:1050px) {
    .product-info-image__content {
        flex-direction: column;
    }

    .product-info-image__left {
        width: 100%;
    }

    .product-info-image__item {
        max-width: 100%
    }
}

@media(max-width:756px) {
    .product-info-image__content {
        flex-direction: column;
        gap: 20px;
    }

    .product-info-image {
        order: 16;
    }

    .home-try-at-home-section {
        padding: 110px 20px;
        justify-content: center;
    }

    .price-breakdown-container {
        margin-top: 30px;
    }

    .pdp-brand-usp-text {
        font-size: 1.2rem;

    }

    .pdp-brand-usps-container {
        padding: 15px 10px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .variant-dropdown-option-name-span,
    product-info variant-selects select {
        font-size: 1.5rem !important;
    }

    .header-extra-menus {
        padding: 0;
    }

    #main-collection-filters .facets-container facet-filters-form .facets__form-vertical #FacetsWrapperDesktop {
        overflow-x: auto !important;
    }

    .filter-rts-button {
        background: #f2eeeb;
        color: #610C27 !important;
        text-wrap: nowrap !important;
        font-size: 1.4rem;
        letter-spacing: 0;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        align-items: center;
        padding: 10px 15px !important;
        line-height: 0;
    }

    .facets__display-vertical fieldset {
        border: none;
    }
}

@media (max-width: 756px) {
    .product-features-badge-text {
        font-size: 1.4rem;
    }

    .main-product_text-style_caption {
        font-size: 1.2rem;
    }

    product-info .product__title h1 {
        font-size: 1.6rem;
    }

    product-info .price__container span {
        font-size: 2rem !important;
    }

    summary .icon-caret {
        top: calc(50% - .5rem);
    }

    header .menu-drawer {
        width: 78%;
    }

    .images-parent-div a {
        min-width: 75%;
        margin-right: -75%;
    }

    .price_breakdown-left_container_top {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .price_breakdown-right_container {
        flex-wrap: wrap;
        row-gap: 0;
    }

    .price-breakdown-list span {
        font-size: 1.2rem;
    }

    .price_breakdown-left_container_bottom p {
        font-size: 1.2rem;
    }

    .price-breakdown-list .price-breakdown-total span {
        font-size: 1.4rem;
    }

    .price-breakdown-list .price-breakdown-total span:nth-of-type(1) {
        width: 155px;
    }

    .price-breakdown-total {
        padding-top: 0;
    }

    .facet-filters__field h2 {
        display: none;
    }

    #FacetsWrapperDesktop {
        z-index: 2;
    }

    .facet-filters__field .select {
        width: max-content !important;
    }

    .facet-filters {
        padding-left: 0 !important;
    }

    .mobile_collection-sort {
        display: flex !important;
    }

    slideshow-component .slideshow__controls .slider-counter {
        display: flex;
        margin-top: -40px;
    }

    slideshow-component .slideshow__controls .slider-button {
        display: none;
    }

    .home-try-at-home-section-container {
        padding: 0 !important;
        margin: 30px auto;
    }

    .product-grid-container facet-filters-form {
        display: flex !important;
    }

    .product-grid-container facet-filters-form form {
        display: flex !important;
        width: 100%;
    }

    .product-grid-container facet-filters-form form h1 {
        font-weight: 500;
        margin: 0 !important;
    }

    .product-grid-container facet-filters-form form .facet-filters {
        padding: 0 !important;
        width: 30%;
        scale: .8;
    }

    .mobile-facets__wrapper,
    .product-count {
        display: none !important;
    }

    .facets-vertical .active-facets {
        left: 0 !important;
        top: 60px !important;
        gap: 10px;
        padding-left: 10px;
        overflow-x: auto;
        width: 100%;
        flex-wrap: nowrap;
    }

    .facets-vertical .active-facets span {
        text-wrap: nowrap;
        background-color: #f6f3f4 !important;
    }

    .product-grid-container .collection {
        margin-top: 75px;
    }

    .active-facets__button-inner {
        font-size: 1.4rem !important;
    }

    .active-facets__button {
        padding: 0 !important;
    }

    .facets-wrapper {
        width: 100%;
        position: absolute;
        top: 195px;
        left: 1.5rem;
    }

    .page-width--full-width {
        padding: 0 1.5rem !important;
    }

    .facets__summary {
        margin: 0 !important;
        height: fit-content;
    }

    #FacetsWrapperDesktop a {
        line-height: 2rem;
    }

    #FacetsWrapperDesktop>details:first-of-type {
        display: none;
    }

    #FacetsWrapperDesktop details {
        background: #F4EEEB;
        padding: 10px 15px;
        z-index: 999;
        height: fit-content;
        color: #610C27;
    }

    .facets-vertical aside {
        width: 93%;
    }

    .facets-container {
        display: flex !important;
        flex-direction: column;
    }

    .collection-hero--with-image .collection-hero__inner {
        padding-bottom: 0 !important;
    }

    .facets-vertical .facets-wrapper facet-filters-form {
        display: flex !important;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .facets-vertical .facets-wrapper facet-filters-form::-webkit-scrollbar {
        display: none;
    }


    .facets-vertical .facets-wrapper facet-filters-form #FacetsWrapperDesktop {
        display: flex !important;
        gap: 10px;
    }

    .facets-vertical .facets-wrapper facet-filters-form #FacetsWrapperDesktop span {
        color: #610C27;
        text-wrap: nowrap !important;
        font-size: 1.4rem;
        letter-spacing: 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
    }

    .collection-hero__image-container {
        margin: 20px 0 0 0 !important;
        display: block !important;
    }

    .mobile-search .header__icon--search {
        width: 100% !important;
        margin-right: 0px;
        padding-right: 13px;
        padding-left: 13px;
        opacity: .6;
    }

    .mobile-search details {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer li a,
    footer li p {
        font-size: 1.4rem !important;
        line-height: 2rem !important;
        padding: 6px 0 !important;
    }

    .home-try-at-home-section-left p {
        width: 100%;
    }

    .home-try-at-home-section-left div {
        margin-top: 5px !important;
    }

    slideshow-component .slideshow {
        aspect-ratio: 390/396;
    }

    .shop-by-category-section {
        margin-top: 30px !important;
    }

    .category-tab-button {
        font-size: 1.8rem !important;
        padding: 10px 20px;
    }

    .category-items-row p {
        font-size: 1.4rem !important;
        line-height: 2rem;
    }

    .slider.slider--everywhere .slider__slide {
        min-height: 100%;
    }

    .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media {
        height: 100% !important;
    }

    .desktop-image {
        display: none !important;
    }

    .mobile-image {
        display: block !important;
    }

    .c-menu2,
    .c-menu3 {
        display: none;
    }

    header .header__icon--search {
        padding: 0 !important;
    }

    header .header__icon--search>span:not(:has(.svg-wrapper)) {
        display: none;
    }

    .header__search {
        display: flex;
    }

    header .header__search {
        display: block;
        /* width: fit-content !important; */
    }

    header .header__icon--search {
        border: none !important;
        margin: 0 !important;
    }

    .header {
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header__icons {
        width: fit-content;
    }

    .category-tabs-row::-webkit-scrollbar,
    .category-items-row::-webkit-scrollbar,
    .occasion-images-container::-webkit-scrollbar {
        display: none;
    }

    .category-items-row,
    .occasion-images-container {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .category-tabs-row {
        margin-bottom: 0 !important;
        padding: 0 !important;
    }

    .category-item {
        min-width: 37% !important;
    }

    .occasion-tab-content {
        width: 40% !important;
    }

    .occasion-images-container {
        gap: 10px !important;
    }

    .home-try-at-home-section-left .section-heading {
        margin: 0 !important;
        font-size: 1.8rem !important;
    }

    .section-heading,
    .collapsible-content__heading,
    .jdgm-rev-widg__title,
    .related-products__heading {
        margin-bottom: 20px !important;
    }

    .zinara-benefits-content {
        min-width: 110px;
    }

    .zinara-benefits-content p {
        font-size: 1.2rem !important;
        line-height: 1.4rem !important;
    }

    .home-benefits-container {
        gap: 15px;
    }

    .home-try-at-home-section-left a:nth-of-type(2) {
        display: none;
    }

    .home-try-at-home-section-left {
        gap: 10px !important;
        width: 100% !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home-try-at-home-section-left a {
        padding: 9px 28px !important;
    }

    .image-carousel-container .carousel-arrow,
    .pdp-image-carousel-container .carousel-arrow {
        display: none !important;
    }

    .images-parent-div {
        padding-left: 10px;
        scroll-snap-type: x mandatory;
    }


    .image-carousel img {
        width: 75% !important;
        scroll-snap-align: start;
    }

    .image-carousel img {
        padding-left: 10px;
    }

    .image-carousel img:nth-last-of-type(1) {
        padding-right: 10px;
    }

    .image-carousel img:not(.active) {
        opacity: 1 !important;
        transform: scale(1) !important;
    }

    #shopify-section-template--24208249323704__home_about_7agqRh {
        padding-top: 20px !important;
    }

    .header-drawer-and-logo {
        gap: 0;
    }

    .header__icon .svg-wrapper {
        height: 35px;
    }

    .occasion-images-container-parent {
        padding-top: 20px;
        margin-top: 30px !important;
    }

    .image-container img {
        border-radius: 10px !important;
    }

    #shopify-section-template--24203645747384__home_benefits_e9Pe77,
    #shopify-section-template--24203645747384__collapsible_content_8wA47G,
    #shopify-section-template--24203645747384__home_about_7agqRh {
        padding-top: 20px;
    }

    #shopify-section-template--24203645747384__home_tryathome_aqqR4j {
        margin-top: 45px !important;
        padding-top: 0 !important;
    }

    #shopify-section-template--24203645747384__collapsible_content_8wA47G .accordion {
        margin: 0 !important;
    }

    #shopify-section-template--24203645747384__collapsible_content_8wA47G .accordion h3 {
        font-family: "Montserrat", sans-serif !important;
    }

    .testimonial-carousel-arrow {
        display: none !important;
    }

    .testimonial-container {
        scroll-snap-align: start;
        min-width: 80% !important;
        border-radius: 25px !important;
    }

    .home-testimonials-carousel-parent {
        padding-left: 10px;
        gap: 10px;
        scroll-snap-type: x mandatory;
    }


    .testimonial-container:not(.active) {
        opacity: 1 !important;
        transform: scale(1) !important;
    }

    .testimonial-container {
        min-height: 160px;
        align-items: start !important;
        justify-content: start !important;
        height: 160px !important;
    }

    .home-about-us {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        gap: 10px;
    }

    .home-about-us-left {
        width: 100% !important;
        overflow: auto;
    }

    /* .home-about-us-left .home-about-us-left_small_image {
        width: 200px !important;
    } */

    .home-about-us-right {
        width: 100% !important;
    }

    footer {
        margin-top: 20px !important;
    }

    .testimonial-container p {
        font-size: 1rem !important;
        line-height: 1.3rem !important;
        margin-top: 2px !important;
    }

    .footer__content-top {
        padding-left: 20px !important;
        padding-right: 20px !important;
        display: flex;
        flex-wrap: wrap;
    }

    .footer__content-top .footer-block {
        width: 48% !important;
        max-width: 48% !important;
    }

    .footer__content-top .footer-block.grid__item,
    .footer__blocks-wrapper {
        margin: 0 !important;
    }

    .footer-block__details-content {
        margin-bottom: 1 !important;
    }

    .footer__blocks-wrapper {
        display: flex !important;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }

    .product-features-badges-container {
        gap: 13px;
    }
}