.home-featured_in-heading {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
}

.home-featured_in-logos {
    display: flex;
    overflow: auto;
    gap: 30px;
    justify-content: start;
    align-items: center;
}

.home-featured_in-logos img {
    height: 100px;
}