.home-zinara-collections__container {
    background-color: #f5e1e5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-zinara-collections__container h2 {
    font-weight: 400;
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.zinara-collection_container {
    column-count: 3;
    column-gap: 15px;
    margin-top: 30px;
}

.zinara-collection_mobile-image {
    display: none;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, .4);

}

.zinara-collection_image {
    box-shadow: 0px 2px 9px rgba(0, 0, 0, .4);
}

.zinara-collection_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    break-inside: avoid;
    margin-bottom: 15px;
}

/* Mobile: 2 columns */
@media (max-width: 768px) {
    .zinara-collection_container {
        column-count: 2;
    }

    .home-zinara-collections__container {
        margin-top: 50px;
    }

    .home-zinara-collections__container h3 {
        font-size: 1.2rem !important;
    }

    .zinara-collection_mobile-image {
        display: block;
    }

    .zinara-collection_image {
        display: none;
    }
}

.zinara-collection_link img {
    width: 100%;
    border-radius: 20px;
}

.home-zinara-collections__container h3 {
    font-family: var(--font-body-family);
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0;
}

.home-zinara-collections__container a {
    text-decoration: none;
}