.home-zinara-collections__container {
    background-color: #f5e1e5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-zinara-collections__container h2 {
    font-weight: 400;
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.zinara-collection_container {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    gap: 1.25%;
    flex-wrap: wrap;
}

.zinara-collection_mobile-image {
    display: none;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, .4);

}

.zinara-collection_image {
    box-shadow: 0px 2px 9px rgba(0, 0, 0, .4);
    aspect-ratio: 224.4 / 301.2;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.zinara-collection_link:nth-child(even) .zinara-collection_image {
    aspect-ratio: 228.39999389648438 / 228.39999389648438 
}

.zinara-collection_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    aspect-ratio: 218 / 290;
    width: 19%;
}

/* Mobile: 2 columns */
@media (max-width: 768px) {
    .zinara-collection_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-zinara-collections__container {
        margin-top: 50px;
    }

    .home-zinara-collections__container h3 {
        font-size: 1.2rem !important;
    }

    .zinara-collection_mobile-image {
        display: block;
    }

    .zinara-collection_image {
        display: none;
    }
}

.zinara-collection_link img {
    width: 100%;
    border-radius: 20px;
}

.home-zinara-collections__container h3 {
    font-family: var(--font-body-family);
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0;
}

.home-zinara-collections__container a {
    text-decoration: none;
}